/*Header*/

.second {
    background-color: #D0A0A0;
    display: inline-flex;
    width: 100%;
    height: 50px;

}

.form-control {
    background-color: #BB6161;
    border-radius: 20px;
    width: 500px;
    height: 35px;
    margin-top: 6px;
}

.search {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.search input{
    margin: auto;
}
.search button {
    margin-left: 5px;
    margin-top: 5px;
    border: none;
    border-radius: 20px;
    width: 42px;
    height: 40px;
    opacity: 0.5;
}

.search button:hover {
    background-color: #BB6161;
    transition: all 0.3s ease;

}

.dropdown button {
    margin-left: 20px;
    align-items: center;
}

.dropdown button:hover {
    transition: all 0.3s ease;
    background-color: rgb(127, 152, 173);
}

/* @media (max-width: 1000px) {
    .container ul {
        flex-direction: column;
        align-items: flex-start;
    }

    .container ul li {
        padding: 1px;
        margin-top: 10px;
        margin-left: 0;
        margin-bottom: 10px;
    }

    .container ul li a {
        padding: 10px 0;
        margin-left: 0;
        width: 100%;
        text-align: center;
    }
} */
.imgHome {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgHome img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.dropdown {
    margin-left: 20px;
    padding: 5px;
}

.imgHome p {

    position: absolute;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 50px;
    color: white;
    letter-spacing: 5px;
    font-weight: 800;
    white-space: nowrap;
}

.lineHr hr {
    background-color: black;
    height: 2px;
    margin: 0 auto;
    width: 400px;
}

h5 {
    text-align: center;
    margin-top: 40px;
}

.book-container {
    display: flex;
    justify-content: center;
    /* Căn giữa */
    padding: 20px;
    /* Thêm khoảng đệm cho toàn bộ container */
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* Tự động điều chỉnh số cột theo kích thước */
    gap: 40px;
    /* Khoảng cách giữa các sách */
}

.card {
    border-radius: 20px;
    border: 1px solid #f1f1f1;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
    text-align: center;
}

.card:hover {
    transform: scale(1.05);
}

.card-img-top {
    border-radius: 20px;
    height: 350px;
    width: 250px;
    object-fit: cover;
}

.card-body {
    margin-top: 100px;
    padding: 10px;
}

.card-body i{
    float: right;
    margin-right: 5px;
}
.card-title {
    margin-top: -90px;
    font-size: 14px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text-muted {
    font-size: 13px;
    /* Giảm kích thước chữ tác giả */
}

.fw-bold {
    font-size: 14px;
    /* Giảm kích thước giá */
}

.text-warning {
    font-size: 14px;
    /* Giữ kích thước sao đánh giá */
}

#hr-header {
    margin-top: 2px;
    margin-bottom: 2px;
}

.inter {
    color: #000;
    opacity: 0.3;
}

.page {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.pagination {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 10px;
}
.page-item {
    margin: 0 5px;
}
.page-link {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    border: 1px solid #ddd;
    border-radius: 5px;
    color:cadetblue;
}
.page-link:hover {
    background-color: #915353;
    color:white ;
    transition: transform 0.8s ease-in-out;

}

.text-rating{
    margin-top: 50px;
    text-align: center;
    font-size: 25px;
}
.text-rating hr{
    width: 100px;
    margin: 0 auto;
    margin-bottom: 10px;
}
.rating{
    margin:0 auto;
    background-color: #ddd;
    padding: 20px;
    width: 1300px;
    border-radius: 20px;
    height: 550px;
    margin-bottom: 70px
}

.rating-button button{
    border: none;
    border-radius: 20px;
    margin-right: 20px;
    margin-bottom: 40px;
    background-color: white;
    padding: 10px;
    width: 150px;
}

.rating-button button:hover{
    background-color: #915353;
    color: white;
    transition: transform 0.8s ease-in-out;
}
.rating-book{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}
.rating-book img{
    width: 200px;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
}
.book1{ 
    text-align: center;
    margin-top: 60px;
}
.book2{
    text-align: center;}
.book3{
    text-align: center;
    margin-top: 30px;
}
.rating-button .button-select{
    background-color: #BB6161;
}