.cart-container {
  display: flex;
  max-width: 1000px;
  margin: auto;
  gap: 20px;
}
.filter-container {
  width: 200px;
  background: #dfdbdb;
  padding: 15px;
  border-radius: 10px;
  max-height: 400px;
}
.filter-container label {
  display: block;
  margin-bottom: 30px;
}
.book-list {
  flex: 1;
  background: white;
  padding: 20px;
  border-radius: 10px;
}
.book-item {
  display: flex;
  align-items: center;
  border: 2px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}
.book-item img {
  width: 80px;
  height: 100px;
  margin-right: 15px;
  border-radius: 5px;
}
.book-details {
  flex: 1;
}
.checkout {
  display: flex;
  justify-content: space-between;
  background: #fff;
  padding: 10px;
  margin-top: 40px;
  border-radius: 10px;
  margin-left: 455px;
  margin-right: 233px;
  margin-bottom: 20px;
}
.checkout button {
  background: #e57373;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 15px;
}
.body-container {
  background: #f8d7da;
}
#img {
  height: auto;
  width: 80px;
  margin-left: 50px;
}
#img1 {
  height: auto;
  width: 180px;
}
.text {
  margin-left: 50px;
}
#TL {
  text-align: center;
  margin-bottom: 25px;
}
#hr {
  /* margin: 0 550px; */
  margin-bottom: 10px;
  width: 400px;
  margin-left: 600px;
}
h2 {
  text-align: center;
  margin-left: 150px;
}
